@media only screen and (max-width: 765px) {
  p {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
  nav {
    position: fixed;
    background: #fff;
    top: 0;
  }
  nav h1 {
    -webkit-transform: translate(75%, 0%);
            transform: translate(75%, 0%);
  }
  nav li {
    padding: 3rem;
  }
  #special {
    padding-top: 4rem;
  }
  .menu-icon {
    display: block;
  }
  .list-item {
    display: block;
    position: absolute;
    top: 90%;
    left: 0;
    height: 100vh;
    background: #fff;
    width: 100%;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    text-align: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .Cart {
    font-size: 1.2rem;
    -webkit-transform: translate(35%, 3%);
            transform: translate(35%, 3%);
  }
  .carousel-item {
    display: block;
  }
  .carousel-item .heading-content {
    padding: 5rem 0rem;
    text-align: center;
  }
  .carousel-item h1 {
    font-size: 2rem;
  }
  #about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container {
    text-align: center;
  }
  #special .special-item {
    padding: 1rem;
  }
  #special .special-item .single-special-item img {
    max-width: 30%;
  }
  #reservation form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #reservation form .form-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #reservation .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #reservation footer .footer-content div {
    width: 100%;
  }
  #menu .products {
    padding: 2rem;
  }
  #menu .products .product {
    width: 100%;
  }
  .cartContainer {
    width: 100%;
    margin-top: 3rem;
    padding: 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cartContainer .cartDetails {
    width: 100%;
  }
  .cartContainer .cartDetails .cartProductPrice {
    width: 10%;
    padding: 0rem 4rem 0rem 0rem;
  }
  .cartContainer .cartDetails .inc,
  .cartContainer .cartDetails .dec {
    padding: 0rem;
  }
  .cartContainer .cartSummary {
    width: 90%;
  }
  #header .content {
    height: 90vh;
  }
  #header .title {
    font-size: 4rem;
  }
  #header .information {
    visibility: hidden;
  }
  #header .desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-transform: translate(0%, 7%);
            transform: translate(0%, 7%);
  }
  #header .heart {
    top: 77%;
  }
  #header .arrows .prev,
  #header .arrows .next {
    top: 85%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 765px) {
  .container {
    padding: 0rem 2rem;
  }
  #about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #special .special-item .single-special-item {
    -ms-flex-preferred-size: 650px;
        flex-basis: 650px;
  }
  #reservation footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #reservation footer .footer-content div {
    width: 100%;
  }
  #menu .products .product {
    width: 50%;
  }
  .cartContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0rem;
  }
  .cartContainer .cartDetails {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
  .cartContainer .cartDetails .cartProImage {
    width: 25%;
    height: 120px;
  }
  .cartContainer span {
    font-size: 1.5rem;
  }
  .cartContainer .cartSummary {
    width: 100%;
    padding: 3rem;
  }
  .cartContainer .cartSummary div {
    font-size: 1.5rem;
  }
  #signup input {
    padding: 1rem;
    font-size: 2rem;
  }
  #signup span {
    padding: 2rem 2rem 1.4rem 2rem;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1300px) {
  .container {
    padding: 0rem;
  }
}

@media only screen and (max-width: 900px) and (min-width: 765px) {
  #header .heart {
    left: 35%;
    top: 46%;
  }
  #header .desc {
    -webkit-transform: translate(0%, -27%);
            transform: translate(0%, -27%);
  }
}

@media only screen and (max-width: 1100px) and (min-width: 1000px) {
  #header .heart {
    top: 38%;
    left: 45%;
  }
}
/*# sourceMappingURL=Query.css.map */